.dart_tool/
build/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Flutter/Dart/Pub
.pub/
.pub-cache/

# iOS
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/local.properties
