.dart_tool/
.dart-tool/
build/
.flutter/
.idea/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Flutter/Dart/Pub
.pub/
.pub-cache/

# iOS
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS
.DS_Store

# Local config
.config/

# Android
android/.gradle/
android/local.properties
